<h1>Calculate a random number</h1>

<form action="/random/results">
  <label for="max_rand_number">Maximum</label>
  <input id="max_rand_number" type="text" name="users_max_number">

  <label for="min_rand_number">Maximum</label>
  <input id="min_rand_number" type="text" name="users_min_number">
  <button>Calculate random number</button>
</form>
