<h1>
  Random Results
</h1>

<dl>
  <dt>
    Maximium
  </dt>
  <dd>
    <%= @max %>
  </dd>

  <dt>
    Minimum
  </dt>
  <dd>
    <%= @min %>
  </dd>

  <dt>
    Random number
  </dt>
  <dd>
    <%= @random_number %>
  </dd>
</dl>

<a href="/random/new">
  Pick another random number
</a>
